.file-tree {
  position: relative;
  overflow-y: auto;
  width: 100%;
}

.file-item {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height:20px;
  width: 100%;
  box-sizing: border-box;
}

.file-item:hover {
  background-color: #2e2e2e;
}

.file-item svg {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}