.sidebar-button {
  position: fixed;
  top: 1rem;
  left: 1rem;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 200px;
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  box-sizing: border-box;
  overflow: hidden;
}

.sidebar .sidebar-button {
  position: static;
  align-self: flex-end;
}
