.sidebar {
  position: static;
  top: 0;
  left: 0;
  height: 100vh;
  width: 200px;
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.sidebar-button {
  position: relative;
  margin: 10px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.sidebar-toolbar {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
}